<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
    <logo>
        <a class="navbar-brand" href="/home">Riders Portal</a>
    </logo>
    <links>
        <div class="waves-light waves-light ml-auto" mdbRippleRadius>
          <button class="btn btn-outline-warning btn-sm my-0 waves-light" type="button" mdbRippleRadius (click)="register_button()">Register</button>
          <button class="btn btn-outline-success btn-sm my-0 waves-light" type="button" mdbRippleRadius (click)="login_button()">Login</button>
        </div>
    </links>
</mdb-navbar>
