.navbar {
    background-color: black;
}
.top-nav-collapse {
    background-color: #4285F4;
}

.nav-button {
  cursor: pointer;
}

.register-login-button {
  color: white;
  font-family: sans-serif;
  font-size: 100%;
}
