<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-3">
        <div class="jumbotron">
        <img src="assets/bike-photos/1.jpg" alt="bike" class="img-thumbnail" style="max-width: 100%;">
          </div>
      </div>
      <div class="col-lg-5">
        <div class="jumbotron">
        <h3>Model and details of the bike</h3>
      </div>
        </div>
      <div class="jumbotron">
      <div class="col-lg-4">
        <p>Price and seller information</p>
      </div>
        </div>
    </div>



<!--Projects section v.1-->
<section class="section pb-3">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4"><strong>Our best projects</strong></h2>

    <!--Section description-->
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-1">
                <a href="" class="pink-text">
                    <h5><i class="fa fa-coffee"></i> Culinary</h5>
                </a>
                <h4>Title of the news</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque.</p>
                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-1">
                <a href="" class="blue-text">
                    <h5><i class="fa fa-camera"></i> Business</h5>
                </a>
                <h4>Title of the news</h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    facere possimus.</p>
                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img (73).jpg" alt="Sample project image">
                <!--708*472 pixels image is required-->
                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body mt-1">
                <a href="" class="purple-text">
                    <h5><i class="fa fa-plane"></i> Travels</h5>
                </a>
                <h4>Title of the news</h4>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                    repudiandae.</p>
                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Projects section v.1-->
    <mat-radio-group class="example-radio-group">
<mat-radio-button class="example-radio-button" value="1">Hello</mat-radio-button>
    </mat-radio-group>


    <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  </div>
</div>





