<!--<div class="container-fluid">-->
  <!--<div class="jumbotron">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-3">-->
        <!--<div class="jumbotron">-->
        <!--<img src="assets/bike-photos/1.jpg" alt="bike" class="img-thumbnail" style="max-width: 100%;">-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-5">-->
        <!--<div class="jumbotron">-->
        <!--<h3>Model and details of the bike</h3>-->
      <!--</div>-->
        <!--</div>-->
      <!--<div class="jumbotron">-->
      <!--<div class="col-lg-4">-->
        <!--<p>Price and seller information</p>-->
      <!--</div>-->
        <!--</div>-->
    <!--</div>-->



<!--&lt;!&ndash;Projects section v.1&ndash;&gt;-->
<!--<section class="section pb-3">-->

    <!--&lt;!&ndash;Section heading&ndash;&gt;-->
    <!--<h2 class="section-heading h1 pt-4"><strong>Our best projects</strong></h2>-->

    <!--&lt;!&ndash;Section description&ndash;&gt;-->
    <!--<p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur-->
        <!--sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

    <!--&lt;!&ndash;Grid row&ndash;&gt;-->
    <!--<div class="row text-center">-->

        <!--&lt;!&ndash;Grid column&ndash;&gt;-->
        <!--<div class="col-lg-4 col-md-12 mb-r">-->

            <!--&lt;!&ndash;Featured image&ndash;&gt;-->
            <!--<div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>-->

                <!--<img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Sample project image">-->

                <!--<a>-->
                    <!--<div class="mask"></div>-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
            <!--<div class="card-body mt-1">-->
                <!--<a href="" class="pink-text">-->
                    <!--<h5><i class="fa fa-coffee"></i> Culinary</h5>-->
                <!--</a>-->
                <!--<h4>Title of the news</h4>-->
                <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum-->
                    <!--deleniti atque.</p>-->
                <!--<a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;Grid column&ndash;&gt;-->

        <!--&lt;!&ndash;Grid column&ndash;&gt;-->
        <!--<div class="col-lg-4 col-md-6 mb-r">-->

            <!--&lt;!&ndash;Featured image&ndash;&gt;-->
            <!--<div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>-->

                <!--<img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Sample project image">-->

                <!--<a>-->
                    <!--<div class="mask"></div>-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
            <!--<div class="card-body mt-1">-->
                <!--<a href="" class="blue-text">-->
                    <!--<h5><i class="fa fa-camera"></i> Business</h5>-->
                <!--</a>-->
                <!--<h4>Title of the news</h4>-->
                <!--<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime-->
                    <!--facere possimus.</p>-->
                <!--<a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;Grid column&ndash;&gt;-->

        <!--&lt;!&ndash;Grid column&ndash;&gt;-->
        <!--<div class="col-lg-4 col-md-6 mb-r">-->

            <!--&lt;!&ndash;Featured image&ndash;&gt;-->
            <!--<div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>-->

                <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img (73).jpg" alt="Sample project image">-->
                <!--&lt;!&ndash;708*472 pixels image is required&ndash;&gt;-->
                <!--<a>-->
                    <!--<div class="mask"></div>-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
            <!--<div class="card-body mt-1">-->
                <!--<a href="" class="purple-text">-->
                    <!--<h5><i class="fa fa-plane"></i> Travels</h5>-->
                <!--</a>-->
                <!--<h4>Title of the news</h4>-->
                <!--<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates-->
                    <!--repudiandae.</p>-->
                <!--<a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;Grid column&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;Grid row&ndash;&gt;-->

<!--</section>-->
<!--&lt;!&ndash;/Projects section v.1&ndash;&gt;-->
    <!--<mat-radio-group class="example-radio-group">-->
<!--<mat-radio-button class="example-radio-button" value="1">Hello</mat-radio-button>-->
    <!--</mat-radio-group>-->


    <!--<mat-form-field>-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->
  <!--</div>-->
<!--</div>-->




<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>





