<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'" style="background-color: #2196F3;">
  <!--First slide-->
  <mdb-slide>
    <div class="view hm-black-light">
      <img class="d-block w-100" [src]="bike1" alt="First slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Light mask</h3>
      <p>First text</p>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <div class="view hm-black-strong">
      <img class="d-block w-100" [src]="bike2" alt="Second slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Strong mask</h3>
      <p>Secondary text</p>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <div class="view hm-black-slight">
      <img class="d-block w-100" [src]="bike3" alt="Third slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Slight mask</h3>
      <p>Third text</p>
    </div>
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->

<br>
<div class="container">
  <div class="row">
    <!--Section: Features v.4-->
    <section class="section feature-box">

      <!--Section heading-->
      <h1 class="section-heading pt-4">Why is it so great?</h1>
      <!--Section description-->
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
        error
        amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur
        accusamus veniam. Quia, minima?</p>

      <!--Grid row-->
      <div class="row features-small">

        <!--Grid column-->
        <div class="col-md-4">

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-flag-checkered indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">International</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-flask blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Experimental</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-glass cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Relaxing</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-2 center-on-small-only flex-center">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt=""
               class="z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-heart deep-purple-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Beloved</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-flash purple-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Rapid</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mb-2">
            <div class="col-2">
              <i class="fa fa-magic pink-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Magical</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--/Section: Features v.4-->
  </div>
  <br>
</div>


<!--Footer-->
<footer class="page-footer indigo center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">Links</h5>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
